---
---

@import "{{ site.theme }}";

.wrapper {
  width: 1060px;
}

header {
  width: 200px;
}

section {
  width: 800px;
}

// .paper-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 10px;
//   margin: 10px;
// }
.paper-list {
  list-style-type: circle; /* Add bullets to the list */
  margin-left: 20px; /* Indent the list */
}

.paper-list li {
  margin-bottom: 20px; /* Space between list items */
}

.paper-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-family: monospace;
  transition: background-color 0.3s;

  &:hover {
    background-color: #e0e0e0;
  }
}


/* styles.css */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 1000px; /* Increased maximum width for more horizontal space */
  width: 500px;
  background-color: #f9f9f9; /* Light background color */
  color: #333; /* Dark text color */
  text-align: left; /* Left-aligned text */
  border-radius: 4px; /* Slightly rounded corners */
  padding: 5px; /* Reduced padding */
  font-size: 12px; /* Smaller font size */
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 100%;
  transform: translateX(-0%); /* Center align tooltip */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Light shadow for depth */
  opacity: 0;
  transition: opacity 0.3s;
  line-height: 1.4; /* Compact line height */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


